.container, .row-container {
    height: 100%;
    width: 100%
}

.center, .h1, .h2, .h3, .table td, h1, h2, h3, th {
    text-align: center
}

.footer .payment, .footer .payment li {
    list-style-type: none
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 46%
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    color: #a2a2a2;
    font-size: 38px;
}

.h2, h2 {
    line-height: .8;
    margin-bottom: 30px
}

.container {
    margin: -20px 0 0;
    padding: 0;
    display: table;
    box-sizing: border-box;
    font-size: 90%
}

.row {
    margin: 0;
    padding: 0;
    height: 100%;
    display: table-row
}

.row .no-float {
    margin: 0;
    padding: 0;
    display: table-cell;
    float: none
}

.row .no-float:not(:last-child) {
    border-right: 1px solid #666
}

.row-header {
    width: 100%;
    margin-top: 10px;
    background: #e7f2f1;
    border-top: 1px solid #b9dad6;
    text-transform: uppercase;
    font-size: 16px;
    padding: 8px;
    height: 38px
}

.row-box {
    height: auto;
    overflow-y: none
}

.dropdown-menu, .scroll {
    overflow-y: auto
}

.row-box.height1 {
    max-height: 400px;
    height: 294px;
    min-height: 294px
}

.row-box.height2 {
    height: 332px
}

.row-box.height3 {
    height: 402px
}

.row-box.height4 {
    height: 247px
}

.row-box.height5 {
    height: 294px;
    font-size: 13px
}

.row-box.table-header {
    height: 35px;
    border-bottom: 1px solid #666;
    padding-top: 5px
}

tr.mid-header {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666
}

.table, .table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: 0
}

.table {
    table-layout: fixed
}

tr.clickable-row:hover {
    cursor: pointer;
    background: #111
}

.sell {
    color: #c02a1d
}

.buy {
    color: #27892f
}

.row-box.nav-header {
    height: 35px;
    border-bottom: 1px solid #666
}

.nav-tabs > li > a {
    color: #000
}

.nav-tabs.two > li {
    width: 50%
}

.nav-tabs.three > li {
    width: calc(100% / 3)
}

.nav-tabs.columns {
    border-bottom: 0
}

.nav-tabs.columns > li > a {
    border-radius: 0;
    height: 35px;
    line-height: 17px;
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    border: 0
}

.nav-tabs.columns > li.active > a {
    color: #fff;
    background: #666;
    border: 0
}

.nav-tabs.columns > li > a:hover {
    background: #337ab7;
    border: 0
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 2px
}

a {
    color: #337ab7
}

a:hover {
    color: #666;
    text-decoration: none
}

.align-right {
    text-align: right !important
}

.padding {
    padding: 12px 12px 5px
}

.padding-sides {
    padding-left: 12px;
    padding-right: 12px
}

.padding-right {
    padding-right: 12px !important
}

.clear {
    clear: both
}

.token-container {
    width: 880px;
    margin: 0 auto
}

.token {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    font-size: 36px;
    border: 5px solid #ccc;
    text-align: center;
    line-height: 180px;
    font-weight: 700;
    border-radius: 200px
}

.token:hover {
    background: #036;
    color: #fff;
    cursor: pointer
}

.static-container {
    background: #fff;
    padding: 20px;
    border: 10px solid #ccc;
    height: calc(100vh - 50px);
    overflow-y: auto
}

.modal-dialog.large {
    width: 90%;
    text-align: center
}

.modal-dialog a {
    color: #33f
}

.modal-dialog a:hover {
    color: #333
}

.footer, .footer .title {
    color: #fff
}

pre {
    overflow-x: auto
}

pre code {
    overflow-wrap: normal;
    white-space: pre
}

.dropdown-menu {
    max-height: 500px
}

.footer {
    padding: 40px 20px 20px;
    background-color: #a2a2a2;
}

.footer .social-icon {
    padding: 0;
    margin: 0
}

.footer .social-icon a {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    padding: 5px
}

.footer .acount-icon a {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none
}

.footer .category a, .footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff
}

.footer .category a {
    padding: 5px 20px;
    margin: 6px 1px 1px;
    border-radius: 4px;
    border: 1px solid #fff
}

.footer .payment {
    margin: 0;
    padding: 0
}

.footer .payment li a {
    float: left;
    font-size: 25px;
    padding: 10px
}

.features-list {
    float: none;
    margin: 0 auto;
    width: 96%;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    color: #333
}

#myInput {
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius: 0px
}

.chart-price {
    height: 100%;
    width: 100%;
    background: #a2a2a2;
}